<div class="card ml-4 col-12">
  <div class="card-body">        
    <strong>Content:</strong>
    <%= @greet.content %>
    <%= link_to 'Edit', edit_greet_path(@greet), class: "btn btn-dark   text-light text-center" %> |
    <%= link_to 'Back', greets_path,class: "btn btn-dark   text-light text-center" %>   
  </div>
</div>

